<EditForm Model="@BookingInfo" OnValidSubmit="EventCallback">
        <DataAnnotationsValidator />
        <div class="form-group">
            <div>
                <InputText @bind-Value="@BookingNumber" class="form-control-sm w-100">
                </InputText>
                <ValidationMessage For="@(() => BookingNumber)" />
            </div>
        </div>
        <div class="search-btn">
            <button type="submit" class="btn btn-outline-light btn-sm h-50 mt-4">Search</button>
        </div>
</EditForm>