    <input type="text" placeholder="Enter Bookingnumber" @bind-value="@BookingNumber"/>
    <button class="search-btn" @onclick="@OnClickInternal">Search</button>

@code {

    [Parameter] public EventCallback<string> OnClick { get; set; }

    async Task OnClickInternal()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(BookingNumber);
        }
    }
}

