<EditForm Model="@CancelBookingRequest" OnValidSubmit="OnClickInternal">
    <DataAnnotationsValidator />
    <div>
        <InputText class="form-control-sm" type="text" placeholder="Enter Bookingnumber" @bind-Value="@CancelBookingRequest.BookingNumber" />
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
        <ValidationMessage For="@(() => CancelBookingRequest.BookingNumber)" />
    </div>
</EditForm>

