@inherits LayoutComponentBase
    <Hotel.Client.Toast.ToastComponent></Hotel.Client.Toast.ToastComponent>

<<<<<<< HEAD
    <NavMenu />
    <div class="page">
=======
<Hotel.Client.Toast.ToastComponent />
<NavMenu />
<div class="page">
>>>>>>> development

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
        <Footer />
    </div>
