<div class="avg-review-row">
    @if (Average != 0)
    {
        <div class="average-grade">Average grade @Average.ToString("0.0")</div>
    }

    <div class="heading">
        <h2>Our guests are top rating us!</h2>
    </div>

    @if (Average != 0)
    {
        <div class="stars">

            @for (int i = 1; i <= Math.Ceiling(Average); i++)
            {
                <span>★</span>
            }
        </div>
    }
</div>

@code 
{
    [Parameter] public double Average { get; set; }
}
