.image-container {
    display:flex;
    position:relative;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom:10px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.oi {
    font-size: 2rem;
    color: white;
    opacity: 0.6;
}

.oi:hover {
    opacity: 1;
}

.btn-right {
    position: absolute;
    top: 45%;
    right: 0%;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    color: navajowhite;
    border: 0;
    top: 0%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.btn-right:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-left {
    position: absolute;
    top: 45%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    color: navajowhite;
    border: 0;
    top: 0%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.btn-left:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.image-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.35));
    color: aliceblue;
}

@media all and (min-width: 540px) {
    .image-container {
        height: 400px;
    }

    .oi {
        font-size: 1.5rem;
        color: white;
        opacity: 0.6;
    }

    .oi:hover {
        opacity: 1;
    }
}

@media all and (min-width: 900px) {
    .image-container {
        height: 450px;
    }
}
