<CheckinForm EventCallback="GetRoom" AvailableRoom="AvailableRoom" />
<div class="image-container" style="background-image: url(Images/@Images[ImageIndex])">
    <button @onclick="@SlideRight" class="btn-right"><i class="oi oi-arrow-thick-right"></i></button>
    <button @onclick="@SlideLeft" class="btn-left"><i class="oi oi-arrow-thick-left"></i></button>
    <div class="image-text">
        <div>
            <p class="title">WELCOME TO OUR HOTEL</p>
            <p class="description">Please feel free to let us know if you need anything</p>
        </div>
    </div>
</div>
<AverageReview Average="@AverageGrade" />
<AddReview />
@*<Review />*@
