#container {
    background: #8d6c4e;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    height: 100px;
    overflow: auto;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size:13px;
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}

#star{
    width:85px;
}

.checked {
    color: orange;
}