@page "/booking"
@inject AppState AppState
<CheckinForm />


<h1 class="display-4">ROOMS</h1>

<div class="lead">
    <ul class="list-group">
        @foreach (var room in AppState.Rooms)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @room.RoomInfos().RoomType
                <span class="badge badge-light"><button class="btn btn-info">Choose</button></span>
            </li>

        }
    </ul>
</div>

@if (ConfirmedBooking == null)
{
    <CheckinForm />
    <CustomerForm></CustomerForm>
}
else
{
    <ConfirmationPage ConfirmedBooking="@ConfirmedBooking"></ConfirmationPage>
}