@page "/booking"
<h3>BookingPage</h3>
@if (ConfirmedBooking == null)
{
    <CustomerForm BookingRequest="@BookingRequest" OnValidSubmit="@CreateBooking"></CustomerForm>
}
else
{
    <ConfirmationPage ConfirmedBooking="@ConfirmedBooking"></ConfirmationPage>
}