@page "/booking/cancel/{bookingNumber}"

<h3>Cancel Booking</h3>

@if (bookinginfo != null)
{
    <p>@bookinginfo.Email</p>
}
else if (!bookinginfo.IsCanceled)
{
<p>Toast Message "You are about to cancel your booking, please enter your e-mail address to confirm"</p>
}
else
{
    <p>Toast Message "Not Found"</p>
}

@code {

}