@page "/booking/confirmation"

<h1>Thank you, we've received your booking!</h1>
<h2><b>Number of guests:</b> @ConfirmedBooking.Guests </h2>
@if (ConfirmedBooking.Breakfast != false || ConfirmedBooking.SpaAccess != false)
{
    <h2>You have added the following options: </h2>
    @if (ConfirmedBooking.Breakfast != false)
    {
        <h3>@ConfirmedBooking.Breakfast</h3>
    }
    @if (ConfirmedBooking.SpaAccess != false)
    {
        <h3>@ConfirmedBooking.SpaAccess</h3>
    }
}
<h2>@ConfirmedBooking.Email</h2>




