<h4>Thank you, we've received your booking with booking number <b>@ConfirmedBooking.BookingNumber</b></h4>
<h3><b>Number of guests:</b> @ConfirmedBooking.Guests </h3>
@if (ConfirmedBooking.Breakfast != false || ConfirmedBooking.SpaAccess != false)
{
    <h2>You have added the following options: </h2>
    @if (ConfirmedBooking.Breakfast != false)
    {
        <h3>Breakfast</h3>
    }
    @if (ConfirmedBooking.SpaAccess != false)
    {
        <h3>Spa</h3>
    }
}
<h3>@ConfirmedBooking.Email</h3>




