.Customer-Form {
    background-color: #ffffff;
    padding: 20px;
}

.form-content {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
}

h5.heading {
    letter-spacing: 0.1em;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

h7.heading {
    font-family: serif;
    text-transform:none;
    color: #666;
    letter-spacing: 0.05em;
}
h6.heading {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
    display:block;
}
.row.-style {
    margin: 5px;
    background: #eee;
    padding: 5px;
}
.container{
    margin: 0;
    padding: 0;
}
