@page "/fetchdata"
@inject HttpClient Http
@inject IConfiguration Configuration

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (dummy == null)
{
    <p>Loading...</p>
}
else
{
    <span>@dummy.Content</span>
}

@code {
    protected DummyInfo dummy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dummy = await Http.GetFromJsonAsync<DummyInfo>($"{Configuration["BaseApiUrl"]}api/WeatherForecast/hello");
        }
        catch { Console.WriteLine("Error requesting"); }


        Console.WriteLine(dummy);
        Console.WriteLine("test");
    }

    public class DummyInfo
    {
        public string Content { get; set; }
    }
}
