@page "/spa"

<div class="image-container"><h1>Ocean Tranquility</h1></div>

<div class="content">
    <p>
        Our loyal and valued guests are the heart of our business. This is why we have put together a number of spa services to create a heightened experience all in the privacy and comfort of your room.
        We promise to make your stay here exceptional. Book a room and include the spa to get access.
        <a href="/booking" class="book-btn">Book</a>
    </p>

    <h1 class="spa-head">Experience our spa</h1>

    <div class="container" style="margin-top: 50px; padding: 0px">
        <div class="row">
            @foreach (var info in information)
            {
                <div class="col-sm">
                    <div class="card rounded-0" style="width: 100%;border:none;background-color:transparent">
                        <img class="card-img-top rounded-0" src="@info.Image" alt="Card image cap">
                        <div class="card-body" style="padding:0">
                            <div class="card-text">
                                <h1 class="spa-secondhead">@info.Title</h1>
                                <h2>@info.Description</h2>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>  
</div>

